.rigth-side{
    background-color: white  !important;
    display: flex;
    background-size: cover !important;
    align-content: center;
    align-items: center;
    justify-content: center;

}

.left-side{
    background-color: green !important;
    height: 100vh; 
    width: 100vw;
    display: flex;
    background-size: cover !important;
    align-content: center;
    align-items: center;
    justify-content: center;

}
.login-custom{
 margin-top: 250px;
}